:root {
  --primary-color: #C4A484;
  --secondary-color: #D2B48C;
  --background-color: #F5E6D3;
  --text-color: #6B4423;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #E6D2B5;
}

main {
  padding: 5rem 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.content-section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

h2 {
  color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.pet-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.pet-item {
  background-color: #E6D2B5;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s;
}

.pet-item:hover {
  transform: translateY(-5px);
}

.quiz {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
}

.quiz button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.quiz button:hover {
  background-color: var(--secondary-color);
}

#result {
  margin-top: 1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  nav ul {
      margin-top: 1rem;
      flex-direction: column;
  }

  main {
      padding-top: 8rem;
  }
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  height: 50px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}