* {
  padding: 0px;
  margin: 0px;
}

.navbar {
  height: 58px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}

.navbar-left img {
  height: 25px;
  width: auto;
  margin-left: 20px;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
}

.navbar-left li {
  list-style: none;
}

.navbar-left li a {
  text-decoration: none;
  padding: 0px 12px;
  font-size: 1.1rem;
  color: black;
  font-weight: 500;
}

.navbar-left a {
  text-decoration: none;
  padding: 0px 12px;
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 30px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.173);
  color: #0d0c22;
  transition: .3s ease;
}

.input::placeholder {
  color: #333333;
  text-align: start;

}



.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.navbar-right {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  align-content: center;
  margin-right: 100px;
}

.dark-icon {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 1px 6px;
  margin: 0px 8px 0px 0px;
  color: #333333;
  align-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  margin-top: 4px;
}

.btn-1 {
  height: 32px;
  width: 106px;
  background-color: #0078D4;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 100%;
  border: 1px solid transparent;
  font-weight: 600;
}
.btn-hero-1 {
  height: 42px;
  width: 246px;
  background-color: #0078D4;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 100%;
  border: 1px solid transparent;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1rem;
}
.btn-hero-2 {
  height: 42px;
  width: 176px;
  font-size: 1rem;
  background-color: #eaeaea;
  color: #333333;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 100%;
  border: 1px solid transparent;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 20px;
}

.hero-image img {
  width: 1240px;
  height: 775px;
  margin-top: 32px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.hero-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 80px;
}

.hero-texts h1 {
  font-size: 72px;
  font-weight: 600;
  color: #242424;
  margin: 0px 10px;
}

.hero-texts p {
  font-size: 26px;
  color: #475569;
  font-weight: 500;
  margin-top: 5px;
}
